/* --------------------------------header */
.header ul li {
    position: relative;
    padding: 5px 0;
}
.header ul li::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background: rgb(20, 20, 218);
    border-radius: 1px;
}
.header ul li.active::before {
    width: 100%;
    transition: 0.3s;
}
.header ul li.active {
    color: rgb(20, 20, 218);
}
/* ------------------------custom button  */
.btn {
    /* font-size: 20px; */
    cursor: pointer;
    /* border-radius: 5px; */
    background: linear-gradient(to right, rgb(17, 17, 167) 50%, white 50%);
    background-position: right;
    background-size: 200% 100%;
    /* border: 1px solid var(--main-color); */
    overflow: hidden;
    font-weight: bold;
    transition: 0.5s;
  }
.btn:hover {
    background-position: left;
    color: white;
  }
  /* scroll bare */
::-webkit-scrollbar {
    width: 0;
  }
  .class1 {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  }